---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OPEN_WEATHER_API_KEY>&cnt=40&lat=30.4036&lon=-97.7526&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1698429600,"main":{"temp":82.31,"feels_like":88.25,"temp_min":82.31,"temp_max":84.7,"pressure":1020,"sea_level":1020,"grnd_level":990,"humidity":75,"temp_kf":-1.33},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":42},"wind":{"speed":9.28,"deg":168,"gust":10.98},"visibility":10000,"pop":0.63,"rain":{"3h":0.18},"sys":{"pod":"d"},"dt_txt":"2023-10-27
        18:00:00"},{"dt":1698440400,"main":{"temp":81.77,"feels_like":86.65,"temp_min":81.77,"temp_max":82.09,"pressure":1017,"sea_level":1017,"grnd_level":988,"humidity":73,"temp_kf":-0.18},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":72},"wind":{"speed":9.08,"deg":166,"gust":11.07},"visibility":10000,"pop":0.96,"rain":{"3h":1.47},"sys":{"pod":"d"},"dt_txt":"2023-10-27
        21:00:00"},{"dt":1698451200,"main":{"temp":77.43,"f[...]
