---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=78759%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"78759","name":"Austin","lat":30.4036,"lon":-97.7526,"country":"US"}'
  recorded_at: Fri, 27 Oct 2023 15:50:07 GMT
recorded_with: VCR 6.2.0
