---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=55555%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"55555","name":"Norwood Young America","lat":44.78,"lon":-93.91,"country":"US"}'
  recorded_at: Fri, 27 Oct 2023 16:34:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=44.78&lon=-93.91&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.91,"lat":44.78},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":35.04,"feels_like":25.5,"temp_min":33.19,"temp_max":37.15,"pressure":1019,"humidity":85},"visibility":10000,"wind":{"speed":14.97,"deg":280,"gust":24.16},"clouds":{"all":100},"dt":1698423941,"sys":{"type":2,"id":2074140,"country":"US","sunrise":1698410787,"sunset":1698448342},"timezone":-18000,"id":5053593,"name":"Young
        America (historical)","cod":200}'
  recorded_at: Fri, 27 Oct 2023 16:34:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OPEN_WEATHER_API_KEY>&cnt=40&lat=44.78&lon=-93.91&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1698429600,"main":{"temp":34.99,"feels_like":24.03,"temp_min":34.99,"temp_max":38.46,"pressure":1019,"sea_level":1019,"grnd_level":986,"humidity":85,"temp_kf":-1.93},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":19.57,"deg":297,"gust":24.63},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2023-10-27
        18:00:00"},{"dt":1698440400,"main":{"temp":36.07,"feels_like":25.59,"temp_min":36.07,"temp_max":38.25,"pressure":1021,"sea_level":1021,"grnd_level":987,"humidity":76,"temp_kf":-1.21},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":94},"wind":{"speed":18.99,"deg":304,"gust":23.49},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2023-10-27
        21:00:00"},{"dt":1698451200,"main":{"temp":33.06,"feels_like":23.[...]
